<script src="./node_modules/bootstrap/dist/css/bootstrap.min.css/js/bootstrap.min.js"></script>
<!-- <h1>Restaurants App</h1> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="list" class="badge badge-secondry"><img src="../assets/img/ManagerLogo.jfif" width="80px" height="30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"*ngIf="userid" routerLink="dashboard">Dashboard</a>
      <a class="nav-item nav-link" *ngIf="userlogin" routerLink="register">Sign Up</a>
      <li *ngIf="userid"><a class="nav-item nav-link" (click)="isLogout()">Logout</a></li>
      <a style="float: right;" class="nav-item nav-link active" *ngIf="userlogin" routerLink="">Login</a>
    </div>
  </div>
</nav>
<div class="container-fluid" style="margin-left: 0px;margin-top: 20px;">
  <router-outlet></router-outlet>
</div>
<!-- <div style="position: fixed;">
  <footer><p>Copy @Right........</p></footer>
</div> -->