<div style="background-color: darkgray;">
    <div class="row marginal" style="margin-left: 10px;">
        <h3>L&D Manager Dashboard</h3>
    </div>
    <div class="container-fluid" style="margin-top: 20px;margin-left: 10px;">
        <div class="row">
            <div>
                <h6>Quick Status</h6>
                <div class="card" style="background-color: gainsboro;">
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h6>Total Trainees</h6>
                                        <h3 class="mb-0 font-weight-semibold quick">90</h3>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <div class="chartjs-size-monitor"
                                            style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div
                                                    style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                </div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                </div>
                                            </div>
                                        </div>
                                        <canvas height="50" width="100" id="stats-line-graph-1"
                                            class="chartjs-render-monitor" style="display: block;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h6>Pending Approval</h6>
                                        <h3 class="mb-0 font-weight-semibold quick">05</h3>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <div class="chartjs-size-monitor"
                                            style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div
                                                    style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                </div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                </div>
                                            </div>
                                        </div>
                                        <canvas height="50" width="100" id="stats-line-graph-1"
                                            class="chartjs-render-monitor" style="display: block;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h6>Trainings completed</h6>
                                        <h3 class="mb-0 font-weight-semibold quick">90</h3>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <div class="chartjs-size-monitor"
                                            style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div
                                                    style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                </div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                </div>
                                            </div>
                                        </div>
                                        <canvas height="50" width="100" id="stats-line-graph-1"
                                            class="chartjs-render-monitor" style="display: block;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h6>Trainings completetion rate</h6>
                                        <h3 class="mb-0 font-weight-semibold quick">90</h3>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <div class="chartjs-size-monitor"
                                            style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div
                                                    style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                </div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                </div>
                                            </div>
                                        </div>
                                        <canvas height="50" width="100" id="stats-line-graph-1"
                                            class="chartjs-render-monitor" style="display: block;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;width: 81%;margin-left: 10px;">
        <div class="row">
            <div class="col-lg-4">
                <label style="font-weight: bold;">Trainees under me</label>
            </div>
            <div class="col-lg-8">
                <div class="form-group" style="float:right;">
                    <div class="input-group" style="height: 35px;">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" name="name" placeholder="Search here" class="form-control" [(ngModel)]="name"
                            (keypress)="Search()" />&nbsp;&nbsp;
                        <button class="btn btn-primary"><i class="fa fa-filter"></i>Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <thead style="background-color:#262626;color: white;">
                    <tr>
                        <th>Name</th>
                        <th>Emp.Id</th>
                        <th>Descipline</th>
                        <th>Level</th>
                        <th>Rating</th>
                        <th>Last Training</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of employees">
                        <td><i class="fa fa-user"></i> {{el.name}}</td>
                        <td>{{el.id}}</td>
                        <td>{{el.discipline}}</td>
                        <td>{{el.level}}</td>
                        <td>{{el.rating}}</td>
                        <td>{{el.lasttraining}}</td>
                </tbody>
            </table>        
        </div>
    </div>
</div>